/* Estilos para el body */
body {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #333;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/* Estilos para el encabezado */

.Nav-Design {
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  font-weight: 300;
  display: flex;
  flex-direction: row;
  transition: ease-in;
}

header {
  background-color: #24292e;
  text-align: center;
  display: flex;
}

.logo {
  padding-left: 20px;
  height: 90px;
  display: flex;
}

.fa-solid {
  display: none !important;
}
/* Estilo de la Nav Bar*/
.nav-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 32px;
  background-color: #24292e;
  color: white;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.nav-bar ul {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.nav-bar li {
  margin: 0 16px;
  position: relative;
  font-size: 20px;
}

.nav-bar li:before {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 0;
  right: 0;
  height: 2px;
  background-color: #ff9900;
  transform: scaleX(0);
  transition: transform 0.2s ease-out;
}

.nav-bar li:hover:before {
  transform: scaleX(1);
}

.nav-bar a {
  color: white;
  text-decoration: none;
  cursor: pointer;
  transition: color 0.2s ease-out;
}

.nav-bar a:hover {
  color: #ff9900;
}

/* Estilo de la barra de busqueda */

.fa-search {
  color: white;
  font-size: 20px;
  opacity: 0.5;
  transition: opacity 0.2s ease-out;
}

.search-bar {
  display: flex;
  justify-content: center;
  width: 35em;
}

.search-bar .input-group {
  display: flex;
  align-items: center;
  background-color: rgb(60, 63, 70);
  border-radius: 19px;
  padding: 0 10px;
  width: 40rem;
  height: 38px;
}

input#search-bar:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px rgb(60, 63, 70) inset;
  -webkit-text-fill-color: #fff;
}

.search-bar input[type="text"] {
  flex: 1;
  height: 100%;
  border: 0;
  background: transparent;
  color: #fff;
  font-size: 16px;
  padding: 0 10px;
}

.search-bar input[type="text"]:focus {
  outline: none;
}

.search-bar .input-group-addon {
  margin-left: 10px;
  color: #fff;
  cursor: pointer;
}

.search-bar .input-group-addon:hover {
  color: #ccc;
}

/* Estilos para el modal */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  width: 80%;
  max-width: 400px;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

/* Estilos para el formulario de registro */
.modal-register-container {
  text-align: center;
}

.modal-register-container h2 {
  font-size: 24px;
  margin-bottom: 20px;
}

.modal-register-container label {
  font-size: 18px;
  margin-bottom: 8px;
}

.modal-register-container input[type="text"],
.modal-register-container input[type="password"] {
  width: 100%;
  font-size: 26px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.modal-register-container button {
  width: 100%;
  height: 50px;
  margin-top: 20px;
  text-align: center;
  border-radius: 5px;
  background-color: #dd9e37;
  font-size: 14px;
  font-weight: bold;
  letter-spacing: 0.5px;
  color: #fff;
  text-transform: uppercase;
  transition: all 0.4s ease;
}

.modal-register-container button:hover {
  box-shadow: 0 0 5px 0 rgba(255, 255, 255, 0.5);
  text-decoration: none;
}

/* Estilos para el formulario de inicio de sesión */
.modal-login-container {
  text-align: center;
}

.modal-login-container h2 {
  font-size: 24px;
  margin-bottom: 20px;
}

.modal-login-container label {
  font-size: 18px;
  margin-bottom: 8px;
}

.modal-login-container input[type="text"],
.modal-login-container input[type="password"] {
  width: 100%;
  font-size: 26px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.modal-login-container button {
  width: 100%;
  margin-top: 20px;
  height: 50px;
  text-align: center;
  border-radius: 5px;
  border-color: #dd9e37;
  border: 2px;
  box-shadow: 0 0 0 1px #dd9e37;
  background-color: #dd9e37;
  font-size: 14px;
  font-weight: bold;
  letter-spacing: 0.5px;
  color: #fff;
  text-transform: uppercase;
  transition: all 0.4s ease;
}

.modal-login-container button:hover {
  box-shadow: 0 0 5px 0 rgba(255, 255, 255, 0.5);
  text-decoration: none;
}

/* Estilos para la sección de presentación */

.home-outer {
  background: url(../img/banners/M4a4howl.jpg) no-repeat center center fixed;
  background-size: cover;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: start;
}

.home-outer h1 {
  font-family: "Montserrat", sans-serif;
  font-size: 40px;
  margin: 0;
  margin-bottom: 20px;
  color: #fff;
  font-weight: 700;
}

.home-outer p {
  font-family: "Roboto", sans-serif;
  font-size: 24px;
  margin: 0;
  margin-bottom: 20px;
  color: #fff;
}

.home-outer .boton-principal {
  display: block;
  padding: 1rem 2rem;
  width: 300px;
  background-color: #dd9e37;
  color: #fff;
  font-size: 1.1rem;
  font-weight: 600;
  text-transform: uppercase;
  border-radius: 5px;
  text-decoration: none;
  margin-top: 2rem;
  margin-bottom: 10px;
  transition: all 0.4s ease;
}

.home-outer .boton-principal:hover {
  box-shadow: 0 0 5px 0 rgba(255, 255, 255, 0.5);
  text-decoration: none;
}

#home-intro {
  float: left;
  padding-left: 15px;
  padding-right: 15px;
}

.home-main {
  color: #fff;
  padding: 16px 86px 146px;
  justify-content: start;
}

.home-main h1 {
  font-size: 32px;
  font-weight: normal;
  padding: 14px 0;
  color: #fff;
}

.home-main .home-info {
  font-size: 16px;
  padding-bottom: 16px;
}
/* Estilos para la sección de estadísticas */
#estadisticas {
  background-color: #fff;
  padding: 50px;
  text-align: center;
}

.stats-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.stat-item {
  text-align: center;
  flex: 0 0 200px;
}

.stat-label {
  font-weight: bold;
}

.progress {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  border-radius: 50%;
  overflow: hidden;
}

.progress-fill {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #ff9900;
  transform-origin: 0 50%;
  transform: rotate(0deg);
  border-radius: 50%;
  transition: transform 0.5s ease;
}

.progress-value {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 20px;
  font-weight: bold;
  color: #ff9900;
}

.circular-progress {
  position: relative;
  height: 250px;
  width: 250px;
  border-radius: 50%;
  background: conic-gradient(#7d2ae8 3.6deg, #ededed 0deg);
  display: flex;
  align-items: center;
  justify-content: center;
}

.circular-progress::before {
  content: "";
  position: absolute;
  height: 210px;
  width: 210px;
  border-radius: 50%;
  background-color: #fff;
}

.avatar-image {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 10px;
}

/* Estilos para equipos */

#equipos {
  background-color: #333;
  color: #fff;
  padding: 50px;
  text-align: center;
}

#title_equipos img,
#title_equipos h2 {
  display: inline-block;
  text-align: center;
}
#title_equipos img {
  float: left;
  width: 150px;
  margin-right: 10px;
}

#button_equipos {
  background-color: #dd9e37;
  border: none;
  color: white;
  padding: 8px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
  border-radius: 8px;
  width: 200px;
  height: 30px;
}
#button_equipos:hover {
  background-color: white;
  color: black;
}

#tabla-competiciones {
  font-family: "Open Sans", sans-serif;
  font-size: small;
  border-collapse: collapse;
  width: 100%;
  text-align: center;
  margin: 0 auto;
  width: 80%;
}

#tabla-competiciones td,
#tabla-competiciones th {
  border: 1px solid #fff;
  padding: 8px;
  width: 33.33%;
  text-align: center;
}

#tabla-competiciones tr:nth-child(even) {
  background-color: rgb(163, 153, 153);
}

#tabla-competiciones tr:hover {
  background-color: rgb(0, 255, 0);
}

#tabla-competiciones th {
  padding-top: 8px;
  padding-bottom: 8px;
  text-align: center;
  background-color: #dd9e37;
  color: black;
}

/* Estilos para el formulario de contacto */
.formulary {
  background-color: #24292e;
  color: #fff;
  padding: 20px;
  display: block;
}

.formulary h2 {
  text-align: center;
  font-size: 24px;
  margin-bottom: 20px;
}

.formulary .contenedor {
  max-width: 600px;
  margin: 0 auto;
}

.formulary label {
  display: block;
  font-size: 18px;
  margin-bottom: 8px;
}

.formulary input,
.formulary textarea {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.formulary textarea {
  height: 150px;
}

.formulary .boton-principal {
  width: 179px;
  height: 50px;
  text-align: center;
  border-radius: 5px;
  background-color: #dd9e37;
  font-size: 14px;
  font-weight: bold;
  letter-spacing: 0.5px;
  color: #fff;
  text-transform: uppercase;
  transition: all 0.4s ease;
}

.formulary input[type="submit"]:hover,
.formulary button:hover {
  box-shadow: 0 0 5px 0 rgba(255, 255, 255, 0.5);
  text-decoration: none;
}

.formulary span {
  color: red;
}

/* Estilos para el footer */
footer {
  background-color: #222;
  padding: 20px;
  text-align: center;
  color: #fff;
}

footer p {
  margin: 0;
  font-size: 1.2rem;
}
