<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="Shortcut icon" href="./img/icons/Templatelogo.png" />
  <title>FragStats.GG - El sitio de estadisticas de CS:GO mas completo</title>
  <!-- archivos CSS -->
  <link rel="stylesheet" href="./css/style.css" />
  <link rel="stylesheet" href="./css/responsive.css" />
  <!-- las fuentes de Google Fonts -->
  <link href="https://fonts.googleapis.com/css2?family=Montserrat&family=Lato&family=Roboto&display=swap" rel="stylesheet" />
  <!-- FontAwesome -->
  <script src="https://kit.fontawesome.com/c2239edec8.js" crossorigin="anonymous"></script>
  <!-- emailjs -->
  <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/@emailjs/browser@3/dist/email.min.js"></script>
</head>
<body>
  <header>
    <nav class="Nav-Design">
      <div class="logo">
        <img src="img/icons/MainIcon.png" alt="MainIcon" />
        <a href="#"></a>
      </div>
      <div class="nav-bar" id="inicio">
        <div class="search-bar">
          <div class="input-group">
            <span class="input-group-addon">
              <i id="lupa" class="fa fa-search"></i>
            </span>
            <input type="text" id="search-bar" placeholder="Buscar Jugador (SteamID64)" />
          </div>
          <i id="abrir" class="fa-solid fa-svg fa-xl" style="color: #dd9e37">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 344.33 717.65">
              <path class="cls-1" d="M170.48,435l12.14,3.44C196,558.57,116.62,683,.24,715.2L0,716.38C105.54,728.54,261.83,652.84,302.64,495l15.69,1.14,5.13-24.86c-27.68-23.27-33.61-97.57,17.7-125.84C353,250.59,330.84,149,291.73,73L208.67,0,188.25,26.62a74,74,0,0,0-35.41,24.15,72,72,0,0,0-15.66,39.47c-2.47,34.79,18,60.62,61.93,76.71,22.65,8.21,29.19,19.75,30.66,33.74C231.09,215.41,227,229.23,214,235l.62,6.27c20.16,5.47,28.46,18.65,29.4,35.6,1.14,20.06-3.72,35.39-21.9,42.9l-.32,5.14c17.59,10.15,24.18,30.56,21,49-3.29,19.19-21.66,35.66-44.9,39.44-7.66,1.23-29.76,1.16-29.76,1.16Zm36.17-295.9c-29.06-2-44.57-22-43.05-46.27,1.69-26.81,19.66-44.29,48.72-42.27,27.9,1.91,44.57,22,42.91,48.62C253.84,123.61,234.75,141,206.65,139.05Z"/>
            </svg>
          </i>
          <div id="recent-searches" style="display: none;"></div>
        </div>
        <div id="nav" class="nav-tools">
          <ul class="nav-items">
            <i id="cerrar" class="fa-solid fa-svg fa-xl" style="color: #dd9e37">
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 344.33 717.65">
                <path class="cls-1" d="M170.48,435l12.14,3.44C196,558.57,116.62,683,.24,715.2L0,716.38C105.54,728.54,261.83,652.84,302.64,495l15.69,1.14,5.13-24.86c-27.68-23.27-33.61-97.57,17.7-125.84C353,250.59,330.84,149,291.73,73L208.67,0,188.25,26.62a74,74,0,0,0-35.41,24.15,72,72,0,0,0-15.66,39.47c-2.47,34.79,18,60.62,61.93,76.71,22.65,8.21,29.19,19.75,30.66,33.74C231.09,215.41,227,229.23,214,235l.62,6.27c20.16,5.47,28.46,18.65,29.4,35.6,1.14,20.06-3.72,35.39-21.9,42.9l-.32,5.14c17.59,10.15,24.18,30.56,21,49-3.29,19.19-21.66,35.66-44.9,39.44-7.66,1.23-29.76,1.16-29.76,1.16Zm36.17-295.9c-29.06-2-44.57-22-43.05-46.27,1.69-26.81,19.66-44.29,48.72-42.27,27.9,1.91,44.57,22,42.91,48.62C253.84,123.61,234.75,141,206.65,139.05Z"/>
              </svg>
            </i>
            <li><a href="#inicio">Inicio</a></li>
            <li><a href="#estadisticas">Estadísticas</a></li>
            <li><a href="#equipos">Equipos</a></li>
            <li><a href="#contacto">Contacto</a></li>
            <li class="iniciado"><a href="#" onclick="openModal('login-modal')">Iniciar sesión</a></li>
            <li class="registrado"><a href="#" onclick="openModal('register-modal')">Registrarte</a></li>
            <li id="miCuenta" style="display: none;"><a href="mi_cuenta.html">Mi cuenta</a></li>
            <li id="cerrarSesion" style="display: none;" onclick="cerrarSesion()"><a href="#">Cerrar sesión</a></li>
          </ul>
        </div>
      </div>
    </nav>
  </header>
  
    <!-- Modals -->
    <!-- Modal de registro -->
<div id="register-modal" class="modal">
      <div class="modal-content" id="app">
        <form>
        <span class="close" onclick="closeModal('register-modal')">&times;</span>
        <div class="modal-register-container">
          <h2>Registrarte</h2>
          <div class="mb-3">
            <label for="nombre">Nombre</label>
            <input type="text" name="nombre" id="nombre" v-model="nombre"/>
          </div>
          <div class="mb-3">
            <label for="correo">Correo</label>
            <input type="text" name="correo" id="correo" v-model="correo"/>
          </div>
          <div class="mb-3">
            <label for="contrasena">Contraseña</label>
            <input type="password" name="contrasena" id="contrasena" v-model="contrasena"/>
          </div>
            <button type="button" v-on:click="grabar()">Registrarte</button>
          </div>
        </form>
      </div>
</div>
<!-- Modal de inicio de sesión -->
<div id="login-modal" class="modal">
  <div class="modal-content">
    <form @submit="iniciarSesion">
      <span class="close" onclick="closeModal('login-modal')">&times;</span>
      <div class="modal-login-container">
        <h2>Iniciar sesión</h2>
        <div class="mb-3">
          <label for="correo-login">Correo</label>
          <input type="text" v-model="correo" name="correo-login" id="correo-login" />
        </div>
        <div class="mb-3">
          <label for="contrasena-login">Contraseña</label>
          <input type="password" v-model="contrasena" name="contrasena-login" id="contrasena-login" />
        </div>
        <button type="button" v-on:click="iniciarSesion()">Iniciar sesión</button>
      </div>
    </form>
  </div>
</div>
    </div>
    <main>
      <section
        class="home-outer"
        style="background-color: rgba(35, 38, 45, 0.6)">
        <div class="container-fluid">
          <div class="row">
            <div id="home-intro">
              <div class="home-main">
                <h1>¡Bienvenidos a FragStats.gg!</h1>
                <p class="home-info">
                  El sitio de estadísticas más completo de Counter Strike:
                  Global Offensive
                </p>
                <div
                  style="
                    line-height: 48px;
                    font-size: 18px;
                    padding-bottom: 30px;
                  ">
                  <img
                    src="img/icons/valve-icon.png"
                    height="22"
                    alt="Official CS:GO Matchmaking"
                    style="margin-right: 25px" />+<img
                    src="img/icons/esea.png"
                    height="22"
                    alt="ESEA"
                    style="margin-left: 22px; margin-right: 25px" /><span
                    style="line-height: 48px"
                    >+</span
                  ><img
                    src="img/icons/faceit.png"
                    height="20"
                    alt="FACEIT"
                    style="margin-left: 25px; margin-right: 25px" /><span
                    style="line-height: 70px"
                    >+</span
                  ><img
                    src="img/icons/Gamers_Club_logo.png"
                    height="20"
                    alt="Gamersclub"
                    style="margin-left: 25px" />
                </div>
                <a href="#estadisticas" class="boton-principal"
                  >Ver estadísticas</a
                >
                <a href="#equipos" class="boton-principal"
                  >Ranking de equipos!</a
                >
              </div>
            </div>
          </div>
        </div>
      </section>
      <section id="estadisticas">
        <h2>Estadísticas</h2>
        <p>
          Encuentra aquí las estadísticas más importantes de los mejores
          jugadores y equipos de CS:GO.
        </p>
        <div id="loading" style="display: none">Cargando...</div>

        <input class="input-stats" type="text" id="steam-id" placeholder="Buscar Jugador (SteamID64)" />

        <button class="button-stats" onclick="getStats(document.getElementById('steam-id').value)">Obtener estadísticas</button>
        <div class="stats-container" id="stats"></div>
      </section>

      <section id="equipos">
        <div id="title_equipos">
          <img id="podio" src="./img/icons/podium.png" alt="" />
          <h2>Ranking Semanal de Equipos</h2>
        </div>

        <div>
          <button id="button_equipos" onclick="mostrarRanking()">
            Ver Ranking
          </button>
          <button id="button_equipos" onclick="mostrarTop3()">Top 3</button
          ><br /><br />
        </div>

        <div id="tabla rankings">
          <table id="tabla-competiciones">
            <thead hidden>
              <tr>
                <th>AreaName</th>
                <th>Name</th>
                <th data-alias="puntaje">Puntaje</th>
              </tr>
            </thead>
            <tbody></tbody>
          </table>
        </div>

        <!-- código HTML para mostrar los equipos -->
      </section>
      <section class="formulary" id="form-contacto">
        <h2 id="contacto">
          ¿Tienes alguna duda o sugerencia? Contactanos llenando el siguiente
          formulario:
        </h2>
        <div class="contenedor">
          <form id="myForm" method="POST">
            <label for="name">Nombre<span> *</span></label>
            <input
              name="name"
              required=""
              type="text"
              id="name"
              placeholder="Nombre" />
            <p id="errorName"></p>
            <label for="email">Email<span> *</span></label>
            <input
              name="email"
              type="text"
              id="email"
              required=""
              placeholder="Email" />
            <p id="errorEmail"></p>
            <label for="message">Mensaje<span> *</span></label>
            <textarea
              name="message"
              id="message"
              cols="80"
              rows="10"
              placeholder="Mensaje"
              data-dl-input-translation="true"></textarea>
            <div class="button-container">
              <button class="boton-principal" type="submit">Enviar</button>
            </div>
            <deepl-inline-translate
              style="z-index: 1999999999"></deepl-inline-translate>
          </form>
        </div>
      </section>
    </main>
    <footer>
      <p>&copy; FragStat.gg - Todos los derechos reservados</p>
    </footer>
    <!-- Script Favoritos -->
    <script src="./js/favoritos.js"></script>
  <!-- Script para controlar los modales -->
  <script>
    function openModal(modalId) {
      var modal = document.getElementById(modalId);
      modal.style.display = "block";
    }

    function closeModal(modalId) {
      var modal = document.getElementById(modalId);
      modal.style.display = "none";
    }
  </script>
    <!-- Script consumen las APIs -->
    <script src="./js/steamwebapi.js"></script>
    <script src="./js/equipos.js"></script>
    <script>
      (function () {
        emailjs.init("vRapqWfeqz267UvmH"); //API_Key(Public_Key)
        emailjs.init("vRapqWfeqz267UvmH"); //API_Key(Public_Key)
      })();
    </script>
    <script src="./js/form-validation.js"></script>
    <script src="./js/responsive.js"></script>
  <!-- <script src="./js/main.js"></script> -->
  <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
  <script src="https://unpkg.com/vue@2.6.14/dist/vue.min.js"></script>
  <script src="./js/crear_cuenta.js"></script>
  <script src="./js/iniciar_sesion.js"></script>
  </body>
</html>
